<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>I studied at {{ university }} </article>
    <article>My Hobby is {{ hobby }}</article>
    <article>{{ my_desc }}</article>
    <img src="{{ photo_link }}" alt="Girl in a jacket">
</body>
</html>
