<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <a href="/lab-1/depan">teman depan</a>
    <br>
    <a href="/lab-1/belakang">teman belakang</a>
</body>
</html>
